<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <a routerLink="/list-pov" class="btn btn-secondary">⬅️ Retour</a>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="principal">📍 Point de vente : Rohero</h2>
    <a routerLink="/form-pov/1" class="button principal">
      Modifier le point de vente
    </a>
  </div>

  <div class="mb-4">
    <p><strong>💰 Caisse :</strong> 500,000 FBu</p>
    <p><strong>👤 Responsable :</strong> Jean</p>
  </div>

  <div class="mb-5">
    <h4 class="principal">📦 Produits en stock</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Quantité</th>
          <th>Catégorie</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Fanta</td>
          <td>50</td>
          <td>Boisson</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
