<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <a routerLink="/list-pov" class="btn btn-secondary">⬅️ Retour</a>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="principal">📍 Point de vente : {{povData?.name}}</h2>
    <a routerLink="/form-pov/{{povData?.id}}" class="button principal">
      Modifier le point de vente
    </a>
  </div>

  <div class="mb-4">
    <p><strong>💰 Caisse :</strong> {{povData?.caisse.montant_total |  number:'1.0-0' }} Fbu</p>
    <p><strong>👤 Responsable :</strong> {{ povData?.responsable?.user?.first_name }} {{ povData?.responsable?.user?.last_name }}</p>
  </div>

  <div class="mb-5">
    <h4 class="principal">📦 Produits en stock</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Quantité</th>
          <th>Catégorie</th>
        </tr>
      </thead>
      <tbody>
        @for(product of povData?.stock; track product.id) {
          <tr>
            <td>{{ product.nom }}</td>
            <td>{{ product.quantite }}</td>
            <td>{{ product.categorie }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
