<div class="contenair">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center mb-4">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form card p-4 shadow-sm">
  <h2 class="text-center mb-4">Login</h2>

  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input
      id="username"
      formControlName="username"
      type="text"
      class="form-control"
      [class.is-invalid]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
    />
    @if (loginForm.get('username')?.invalid && loginForm.get('username')?.touched) {
      <div class="invalid-feedback">
        Username is required.
      </div>
    }
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      id="password"
      type="password"
      formControlName="password"
      class="form-control"
      [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
    />
    @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
    <div class="invalid-feedback">
      Password is required.
    </div>
    }
  </div>

  <button
    class="btn btn-primary w-100"
    type="submit"
    [disabled]="loading || loginForm.invalid"
  >
    {{ loading ? 'Loading...' : 'Login' }}
  </button>
@if (error) {
  <div class="alert alert-danger mt-3" role="alert">
    {{ error }}
  </div>
}
</form>

      </div>
    </div>
  </div>
</div>
