<div class="container py-4">
  <h2 class="mb-4 principal">📦 Produits sur l'agent</h2>

  <div class="row g-4">
    <div class="col-md-6 col-lg-4">
      <div class="card p-3 h-100 shadow-sm rounded-4 background.info-principal">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h5 class="principal mb-0">Fanta</h5>
          <span class="badge bg-secondary text-white px-3 py-1 fs-6">50 unités</span>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h5 class="principal mb-0">Fanta</h5>
          <span class="badge bg-secondary text-white px-3 py-1 fs-6">50 unités</span>
        </div>
        <p class="mb-1 text-secondary">
          🏬 <strong>Origine :</strong> Rohero
        </p>
        <p class="mb-0 text-secondary">
          🗓️ <strong>Ajouté le :</strong> 30/07/2025
        </p>
        <p class="mb-0 text-secondary">
          🗓️ <strong>Agent :</strong> Charle
        </p>
        <button class="button principal w-100">➕ Rendre au stock</button>
      </div>
    </div>
  </div>
</div>
