<div class="container py-4">
  <h2 class="mb-4 principal">Accueil</h2>

  <div class="mt-5">
    <div class="row g-4 align-items-stretch">
      <div class="col-md-6 col-lg-4">
        <div class="card p-4 h-100 shadow-sm background.info-principal rounded-4">
          <h6 class="mb-3 fs-6 text-uppercase text-secondary">Rohero</h6>

          <ul class="list-unstyled mb-4">
            <li class="mb-2">💰 <strong>Caisse :</strong> 670,009 FBu</li>
            <li class="mb-2">🛒 <strong>Ventes :</strong> 56</li>
            <li class="mb-2">💸 <strong>Dépenses :</strong> 70,000 FBu</li>
          </ul>

          <button class="button principal w-100">➕ Verser dans la caisse générale</button>
        </div>
      </div>
    </div>
  </div>
</div>
