<nav class="navbar fixed-top background principal" data-bs-theme="dark">
    <div class="container-fluid">
        <img class="me-3" [ngSrc]="logo" alt="logo" width="40" height="40">
        <h4>JPH</h4>
        @if (isAuthenticate) {
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>}
        <div class="offcanvas offcanvas-end text-bg-dark background principal" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu de {{userData?.username}}</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a routerLink="home" class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas">
                            <i class="fa-solid fa-house"></i> Home
                        </a>
                    </li> @if (userData && (userData.role == 'gerant' || userData.role == 'responsable')) {
                    <li class="nav-item">
                        <a routerLink="reception" class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas">
                            <i class="fa-solid fa-hand-holding-hand"></i> Receptions
                        </a>
                    </li>
                    @if (userData && userData.role == 'gerant') {
                    <li class="nav-item">
                        <a routerLink="userList" class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas">
                            <i class="fa-solid fa-users"></i> Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="listProduct" class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas">
                            <i class="fa-solid fa-cubes-stacked"></i> Produits
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="listTypeEchange" class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas">
                            <i class="fa-solid fa-hand-holding-dollar"></i> Type Échange
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="listPoste" class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas">
                            <i class="fa-solid fa-users-rectangle"></i> Rôle
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="tools" class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas">
                            <i class="fa-solid fa-car-side"></i> Matériel
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="vente" class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas">
                            <i class="fa-brands fa-sellsy"></i> Ventes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="depenses" class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas">
                            <i class="fa-brands fa-sellsy"></i> Depenses
                        </a>
                    </li>
                    }}
                    <li class="nav-item">
                        <a routerLink="liste_panier" class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas">
                            <i class="fa-solid fa-cart-shopping"></i> Paniers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="liste_request" class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas">
                            <i class="fa-solid fa-hand-point-up"></i> Request
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="listPOS" class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas">
                            <i class="fa-solid fa-shop"></i> Point de vente
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="client" class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas">
                            <i class="fa-solid fa-people-group"></i> Clients
                        </a>
                    </li>
                    <li class="nav-item border-top mt-4">
                        <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal">
                            <i class="fa-solid fa-door-open"></i> @if(userData){ {{userData.username}}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Modal logout -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure?
                <button type="button" class="btn btn-warning" (click)="logout()">
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
